<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/base.css">
</head>
<body>
<h1>Dicey App for your passphrases</h1>
<p><a href="/dice">Dice</a>    <a href="/about">About</a></p>
<div>
{{{body}}}
</div>
</body>
</html>
